extends layout

block content 
  .cards
        .card
            img(src="/images/img3.jpg", alt="image")
            h2 CONTACT US
            p You can create a free one. CREATE AN ACCOUNT LOG IN · Get help investigating unauthorized account activity
            a(href='//gomycode.com/TN-FR/contact') Contact
 
  //- //-  vue of page401.pug
  //- .auth 
  //-   p you are not authorized come-back... soon
  //-   table( border='2')
  //-    tr
  //-     th 
  //-     th MOND-TUE-WED-THU-FRI
  //-     th SAT-SUN
  //-    tr
  //-     td working hours
  //-     td 9 00 AM - 05 00 PM
  //-     td CLOSED


block footer  
  .container
     h3
      |&copy; 2021 HanenTeam.All Rights Reserved  |
      i.fa.fa-value(aria-hidden='true') &nbsp;
      a(href='/') View Home  
       
           
