extends layout 
block content 
  .cards
        .card
            img(src="/images/img3.jpg", alt="image")
            h2 CONTACT US
            p You can create a free one. CREATE AN ACCOUNT LOG IN · Get help investigating unauthorized account activity
            a(href='//gomycode.com/TN-FR/contact') Contact