extends layout
block content
 .header 
  img(src="/images/img1.jpg", alt="image")
 .title
  h1 Welkome To #{title}
  article GOMYCODE is the first tech community in Tunisia and the Middle East. 
  article vision is to train a new generation capable of taking over by preparing for current 
  article and futurejobs and connecting them to job opportunities. And build an educational
  article infrastructure in new technologies by empowering students and teachers
block footer
 .container
   h5  |&copy; 2021 HanenTeam.All Rights Reserved  |
   
      
    
   
         