extends layout
block content
 .cards
        .card
            img(src="/images/img2.jpg", alt="image")
            h2 OUR SERVICES
            p Take part in the digital world and learn the latest technological trends with GOMYCODE trainings (Web development, Data,Video game development, Design...
        .card
            img(src="/images/img4.jpg", alt="image")
            h2 OUR STRENGTHS 
            p GoMyCode is the largest developer community in Africa and the Middle East.We are training the next generation of developers,
        .card
            img(src="/images/img5.jpg", alt="image")
            h2 OUR TEAM
            p GOMYCODE empower people by upskilling and reskilling them on digital skills through instructor-assisted, affordable and quality trainings.,